@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4918f;
}

.content {
    background-color: #ffffff;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: rgb(22, 65, 22);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 60%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: rgb(22, 65, 22);
}

.descricao {
    font-size: 14px;
    font-weight: 300;
}

.descricao-primary {
    color: #fff;
}

.descricao-second {
    color: gray;
}

.first-content {
    display: flex;
    display: none;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-social-midia {
    display: flex;
    list-style-type: none;
}

.item-social-midia {
    border: 1px solid rgb(22, 65, 22);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.link-midia-social:not(:first-child) {
    margin-left: 10px;
}

.link-midia-social:hover .item-social-midia {
    background-color: rgb(22, 65, 22);
    color: #fff;
    border-color: rgb(22, 65, 22);
}

.midia-social {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    padding: 0 5px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 155px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-second {
    background-color: rgb(22, 65, 22);
    border: 1px solid rgb(22, 65, 22);
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid rgb(22, 65, 22);
    color: rgb(22, 65, 22);
}

.btn-primary:hover {
    background-color: #fff;
    color: #b4918f;
}

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
}

.second-content .second-column {
    order: 1;
}

.senha {
    margin: 15px 0;
    color: #95a5a6;
    font-size: 14px;
}