* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url("../img/logo-hair.png");
    background-size: cover;
    background-position-y: -150px;
}

input:focus {
    outline: none;
}

a,
label {
    font-size: 0.8rem;
}

a:hover {
    color: #08558b;
}

.container {
    background-color: #323232;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    opacity: .8;
}

form {
    margin-top: 20px;
    margin-bottom: 30px;
}

label,
input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #323232;
    color: #fff;
}

input:focus {
    border-bottom: 2px solid #08558b;
}

#forgot-pass {
    text-align: right;
    display: block;
}

.btn1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    border-radius: 20px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #18223c;
    transition: 0.5s;
}

.rede-social,
.rede-social p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rede-social i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #385898;
}

.fa-linkedin-in {
    background-color: #0077b5;
}

.fa-google-plus-g {
    background-color: #db4a39;
}

.cadastro-container p {
    margin-bottom: 10px;
}

.btn-cadastrar {
    font-size: 1.5rem;
    margin-top: 20px;
}