{% extends '_base.html' %}

{% block title %}
Agenda
{% endblock title %}

{% block estilos %}

{% endblock estilos %}

{% block content%}



<div class = "container">
      <div class= "row">
          <div class="col-6 col-md-6 coluna">
            <div class=class="shadow-sm p-3 mb-5 bg-white rounded"><img src="static/img/logo_hair.jpg" alt= "logo empresa"  height= "400">
            </div>
                   </div>

          <div class="col-6 col-md-6 coluna">
            <form action="" method="POST" class="text-center">
                <h1 class="h3 text-white">Agenda</h1>

                <label for="id_data" class="sr-only">Data</label>
                <input class="form-control m-2" type="date" id="id_data" placeholder="Escolha uma data" required autofocus name="email">
               

                <label for="id_horario" class=sr-only>Horário</label>
                <input class="form-control m-2"  type="time" min="09:00" max="18:00" id="id_horario" placeholder="" required autofocus name=Hora>
               <button type="submit" class="btn btn-primary">Agendar</button>
            </form>
         </div>
      </div>
      
{% endblock content%}