{% extends '_base.html' %}

{% block title %}
Agenda
{% endblock title %}

{% block header%}
 <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand text-primary" href="{{ url_for('login1') }}"><img src="static/img/logo.png" alt= "logo empresa"  height= "30"id="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark " href="{{ url_for('login1') }}">Início </a>
      </li>
     
      <li class="nav-item active ">
        <a class="nav-link text-dark " href="{{ url_for('cadastro') }}">Cadastro</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-dark" href="{{ url_for('agenda') }}" role="button">Agendar</a>
    </div>
  </div>
</nav>

    {% endblock header%}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/main.css">
{% endblock estilos %}



{% block content%}
<center>
   <img src="static/img/Logo-branco.png" alt= "logo empresa" height= "400">

</center>


{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="static/js/script.js"></script> 
{% endblock scripts %}


{% block article%}


   <div class="conteudo">
		<div class="calendario">
			<header>				
				<h2 id="mes"></h2>
				<a class="btn-ant" id="btn_prev"><</a>
				<a class="btn-pro" id="btn_next">></a>
			</header>
			<table>
				<thead>
					<tr>
						<td>DOM</td>
						<td>SEG</td>
						<td>TER</td>
						<td>QUA</td>
						<td>QUI</td>
						<td>SEX</td>
						<td>SAB</td>
					</tr>
				</thead>
				<tbody id="dias">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<footer>
				<h2 id="ano">2020</h2>
			</footer>
		</div>
	</div>       
{% endblock article%}

