<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <title>login</title>
    
</head>

<body>
    <div class="container ">
        <div class="content first-content ">
            <div class="first-column ">
                <h2 class="title title-primary">Seja Bem Vindo!</h2>
                <p class="descricao descricao-primary ">Para se manter conectado conosco</p>
                <p class="descricao descricao-primary ">Por Favor, Faça seu login</p>
                <button class="btn btn-primary ">Entrar</button>
            </div>
            <div class="second-column ">
                <h2 class="title title-second ">Criar conta</h2>
                <div class="midia-social ">
                    <ul class=" lista-social-midia ">
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <!-- midia-social -->
                <p class="descricao descricao-second ">Ou Use seu Email:</p>
                <form action="cadastro " class="form ">
                    <label  class="label-input"for="">
                        <i class="far fa-user icon-modify"></i>
                        <input type="text " name="usuario " id="usuario " placeholder="Nome ">
                    </label>
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email " name="email " id="email " placeholder="Email ">
                    </label>
                    
                    <label  class="label-input"for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password " name="senha " id="senha " placeholder="Senha ">
                    </label>
                    
                    <button class="btn btn-second">Criar</button>
                </form>
                
            </div>
            <!-- second column -->
        </div>
        <!-- fisrt content -->

        <div class=" content second-content ">
            <div class="first-column ">
                <h2 class="title title-primary">Olá</h2>
                <p class="descricao descricao-primary">Insira seus Dados</p>
                <p class="descricao descricao-primary">Para Iniciar</p>
                <button class="btn btn-primary">Sair</button>
            </div>
            <div class="second-column ">
                <h2 class="title title-second ">Entre na sua Conta</h2>
                <div class="midia-social ">
                    <ul class=" lista-social-midia ">
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-midia-social" href="# ">
                            <li class="item-social-midia">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <!-- midia-social -->
                <p class="descricao ">Use sua conta:</p>
                <form action="cadastro " class="form ">
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email " name="email " id="email " placeholder="Email ">
                    </label>
                    
                    <label  class="label-input"for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password " name="senha " id="senha " placeholder="Senha ">
                    </label>
                    <a href=" " class="senha ">Esqueceu Sua Senha?</a>
                    <button class="btn btn-second">Entrar</button>
                
                </form>
            </div>
            <!-- secon column -->
        </div>
        <!-- second content -->

    </div>
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
</body>

</html>