<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="" class="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_login.css ">
</head>

<body>
    <div class="container ">
        <h2 class="text-white">Logar</h2>
        <form action="" class="form ">
            {{ form.csrf_token}}
            <label for="email " class=" ">E-mail</label> {{ form.username(placeholder="Digite seu E-mail" ,autocomplete="off")}} {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul> {% for i in form.errors.username %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <label for="password " class=" ">Senha</label> {{ form.password(placeholder="Digite sua Senha ")}} {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul> {% for i in form.errors.password %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}



            <a id="forgot-pass " href=" # ">Esqueceu Senha?</a>
            <button type="submit " class="btn1 ">Entrar</button>
        </form>
        <div class="rede-social ">
            <p class=" ">Ou entre pelas redes sociais</p>
            <a href=" # " class=" "><i class="fab fa-facebook-f "></i></a>
            <a href="# " class=" "><i class="fab fa-linkedin-in "></i></a>
            <a href="# " class=" "><i class="fab fa-google-plus-g "></i></a>
        </div>

        <div class="cadastro-container ">
            <p class="cadastro ">Ainda não tem cadastro?</p>
            <a href="/cadastro " class="btn-cadastrar ">Cadastrar</a>
        </div>
    </div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
</body>

</html>